@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans JP", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/* 汎用ホバーアクション */
.act_h{
  transition: .15s;
}

@media (any-hover: hover) {
  .act_h:hover{
    transform: scale(.92);
  }
}
@media (any-hover: none) {
  .act_h:active{
    transform: scale(.92);
  }
}

/* 汎用チェックボックス */
.checklabel input{
  display: none;
}

.checklabel input + span {
  display: inline-block;
  padding-left: 1.75em;
  position: relative;
}

.checklabel input + span:before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-color: var(--color-gray-300);
  border-top-right-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  position: absolute;
  top: 0.1em;
  left: 0.5em;
}

.checklabel input + span:after {
  content: "";
  display: block;
  width: 0.4em;
  height: 0.7em;
  border-bottom-right-radius: calc( var(--radius-sm) / 2 );
  border-right: solid 0.2em var(--color-gray-100);
  border-bottom: solid 0.2em var(--color-gray-100);
  transform: rotate(45deg);
  position: absolute;
  top: 0.2em;
  left: 0.8em;
}

.checklabel input:checked + span:before {
  background-color: var(--color-amber-500);
}
.checklabel input:checked + span:after {
  border-right-color: var(--color-white);
  border-bottom-color: var(--color-white);
}

/* フィルタ */
#filter {
  opacity: 0;
  max-height: 0;
}

#filter.open {
  opacity: 100;
  max-height: calc(100vh - 80px);
}

@media (min-width: 1024px) {
  #filter.open {
    max-height: 2000px;
  }
}

/* フィルタ用 チェックボックス */
#filter .checklabel input + span {
  margin-right: calc(var(--spacing) * 1);
  margin-bottom: calc(var(--spacing) * 1);
  width: 166px;
  border-top-right-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
  padding: calc(var(--spacing) * 1);
  padding-left: 2em;
  background-color: var(--color-gray-100);
  font-size: var(--text-xs);
}
#filter .checklabel input + span:before {
  top: 0.5em;
  left: 0.5em;
}
#filter .checklabel input + span:after {
  top: 0.6em;
  left: 0.8em;
}
#filter .checklabel input:checked + span {
  background-color: var(--color-amber-100);
}

/* フィルタをリセット ボタン */
.btn-reset {
  margin-left: calc( 100% - ( var(--spacing) * 6 + 9em + 2px ) );
  transform: translateY(-1em);
  transition: .15s;
}

@media (any-hover: hover) {
  .btn-reset:hover {
    transform: scale(.92) translateY(-1em) ;
  }
}
@media (any-hover: none) {
  .btn-reset:active {
    transform: scale(.92) translateY(-1em) ;
  }
}

/* スキルカードエリア */
#skill_area{
  height: calc(100vh - 83px);
}

/* スキルカード一覧(選択時の枠) */
.skill_icon{
  position: relative;
}

.skill_icon .frame{
  display: none;
  position: absolute;
  z-index: -500;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid var(--color-amber-500);
  border-radius: .3rem;
  animation: 1s ease 0s infinite zoom;
}

.skill_icon .frame:before,
.skill_icon .frame:after{
  content: "";
  display: block;
  background-color: white;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  position: absolute;
  top: -3px;
  left: -3px;
}

.skill_icon .frame:before{
  width: 50%;
  left: 25%;
}
.skill_icon .frame:after{
  height: 50%;
  top: 25%;
}

@keyframes zoom {
  0%{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }
  50%{
    top: 8%;
    left: 8%;
    width: 84%;
    height: 84%;
  }
  100%{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }
}

.skill_icon.active .frame{
  display: block;
}

/* カスタム　選択時 */
.custom_btn input:checked + span{
  opacity: .75;
}

.custom_btn input ~ div{
  filter: 
    drop-shadow(-1px 0 0px white) 
    drop-shadow(1px 0 0px white) 
    drop-shadow(0 -1px 0px white)
    drop-shadow(0 1px 0px white)
    ;
  position: absolute;
  bottom: .4em;
  right: .8em;
  display: none;
}

.custom_btn input ~ div.check:before,
.custom_btn input ~ div.check:after{
  content:"";
  display: block;
  height: .25em;
  background: var(--color-sky-400);
  border-radius: .4em;
}

.custom_btn input ~ div.check:before{
  width: 1em;
  transform: rotate(45deg);
}

.custom_btn input ~ div.check:after{
  width: 1.6em;
  transform: translate(6px, -6px) rotate(-45deg);
}

.custom_btn input:checked ~ div{
  display: block;
}

