@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans JP", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/* 汎用チェックボックス */
.checklabel input{
  display: none;
}

.checklabel input + span {
  display: inline-block;
  padding-left: 1.75em;
  margin-right: calc(var(--spacing) * 1);
  margin-bottom: calc(var(--spacing) * 1);
  font-size: var(--text-xs);
  border-top-right-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
  position: relative;
}

.checklabel input + span:before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-color: var(--color-gray-300);
  border-top-right-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  position: absolute;
  top: 0.1em;
  left: 0.5em;
}

.checklabel input + span:after {
  content: "";
  display: block;
  width: 0.4em;
  height: 0.7em;
  border-bottom-right-radius: calc( var(--radius-sm) / 2 );
  border-right: solid 0.2em var(--color-gray-100);
  border-bottom: solid 0.2em var(--color-gray-100);
  transform: rotate(45deg);
  position: absolute;
  top: 0.2em;
  left: 0.8em;
}

.checklabel input:checked + span:before {
  background-color: var(--color-amber-500);
}
.checklabel input:checked + span:after {
  border-right-color: var(--color-white);
  border-bottom-color: var(--color-white);
}

/* フィルタ用 チェックボックス */
#filter .checklabel input + span {
  width: 180px;
  padding: calc(var(--spacing) * 1);
  padding-left: 2em;
  background-color: var(--color-gray-100);
}
#filter .checklabel input + span:before {
  top: 0.5em;
  left: 0.5em;
}
#filter .checklabel input + span:after {
  top: 0.6em;
  left: 0.8em;
}
#filter .checklabel input:checked + span {
  background-color: var(--color-amber-100);
}

/* フィルタをリセット ボタン */
.btn-reset {
  margin-left: calc( 100% - ( var(--spacing) * 6 + 9em + 2px ) );
  transform: translateY(-1em);
}
